debug
codegen
*.local
*.class
Thumbs.db
.project
.children
*.dart.js
*.dart.js_
*.dart.js.map
*.dart.js.deps
out.js
out.js.map
out
*.bak
~$*.pptx
~$*.doc
~$*.xlsx
packages
packages/
.buildlog
pubspec.lock
