body {
	background-color: #F8F8F8;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	margin: 15px;
	padding: 20px;
}

form {
	background: #9cbc2c;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 20px;
	width: 400px;
}

h1,p {
	color: #333;
}

.auto-style1 {
	width: 25%;
	border: 1px solid #0000FF;
}

.auto-style2 {
	width: 107px;
}

.btns {
	width: 127px;
}